.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.box {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.weather-box, #air-quality-box {
    background-color: #e0f7e9;
    border: 2px solid #2ecc71;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: auto;
    height: 20rem;
}

.weather-box h1, #air-quality-box h2 {
    color: #2ecc71;
    margin-bottom: 20px;
}

#coordinates, #weather-info, #air-quality-box p {
    margin-top: 20px;
    font-size: 18px;
}

#weather-info img {
    vertical-align: middle;
}

#air-quality-box p strong {
    color: #2c3e50;
}




.text-cardText {
    overflow: hidden;
    max-height: 3em; /* Adjust to the height of two lines of text */
    transition: max-height 0.3s ease;
  }
  
  .text-cardText.expanded {
    max-height: none;
  }
  

