<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Document</title>
</head>
<body>
  <div class="main-page">
  
    <div class="smooth login" id="login">
      <h1 class="login__header header">Welcome back to the party club</h1>
      <p class="login__byline">It's good to see you again, come in using your favourite social network</p>
      <button class="cl-socialButtonsBlockButton cl-socialButtonsBlockButton__google 🔒️ cl-internal-169tt0i">
        <span class="cl-internal-9ci4h9">
          <img crossorigin="anonymous" srcset="https://img.clerk.com/static/google.svg?width=80 1x,https://img.clerk.com/static/google.svg?width=160 2x" src="https://img.clerk.com/static/google.svg?width=160" class="cl-socialButtonsProviderIcon cl-providerIcon cl-socialButtonsProviderIcon__google cl-providerIcon__google 🔒️ cl-internal-10hu44j" alt="Sign in with Google">
        </span>
        <div class="cl-internal-16pk7q8"><span class="cl-socialButtonsBlockButtonText cl-socialButtonsBlockButtonText__google 🔒️ cl-internal-7pl8hj" data-localization-key="socialButtonsBlockButton">Continue with Google</span></div>
     </button>

      <fieldset class="form">
        <legend class="form__legend">OR</legend>
        <form action="{{url_for('login')}}" class="form__body form-login">
          <input class="form__input" type="email" placeholder="email">
          <input class="form__input" type="password" placeholder="password">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class=flashes>
            {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
          <button class="btn" type="submit">Sign in</button>
        </form>
      </fieldset>
    </div>
  
    <div class="switch">
      <div class="switch__text-container" id="switch-text">
        <h1 class="switch__header header">Not yet a member?</h1>
        <p>Sign up and discover what we can do for you</p>
      </div>
      <button class="btn-white btn" id="switch-button">Sign up</button>
    </div>
  
    <div class="smooth signup hide-view" id="signup">
      <h1 class="signup__header header">Create a new account</h1>
      <p class="signup__byline">You can use your favourite social network</p>
       <button class="cl-socialButtonsBlockButton cl-socialButtonsBlockButton__google 🔒️ cl-internal-169tt0i">
          <span class="cl-internal-9ci4h9">
            <img crossorigin="anonymous" srcset="https://img.clerk.com/static/google.svg?width=80 1x,https://img.clerk.com/static/google.svg?width=160 2x" src="https://img.clerk.com/static/google.svg?width=160" class="cl-socialButtonsProviderIcon cl-providerIcon cl-socialButtonsProviderIcon__google cl-providerIcon__google 🔒️ cl-internal-10hu44j" alt="Sign in with Google">
          </span>
          <div class="cl-internal-16pk7q8"><span class="cl-socialButtonsBlockButtonText cl-socialButtonsBlockButtonText__google 🔒️ cl-internal-7pl8hj" data-localization-key="socialButtonsBlockButton">Continue with Google</span></div>
       </button>
      
      <fieldset class="form">
        <legend class="form__legend">OR</legend>
        <form action="{{url_for('signup')}}" class="form__body form-login">
          <div class="input__group">
            <input class="form__input form__input-half" type="text" placeholder="first name" name="firstname" required>
            <input class="form__input form__input-half" type="text" placeholder="last name" name="lastname" required>
          </div>
          <div class="input__group">
            <input class="form__input form__input-half" type="email" placeholder="email" name="newemail" required>
            <input class="form__input form__input-half" type="password" placeholder="password" name="newpassword" required>
          </div>
          <div class="input__group">
            <input id="phone" class="form__input form__input-half" type="text" placeholder="Phone no." name="phoneno" required>
            <select id="region" name="region" class="form__input form__input-half" required>
              <option value="India">India</option>
              <option value="USA">US</option>
              <option value="Others">Others</option>
            </select>
          </div>
          <div class="input__group">
            <input class="form__input-checkbox" type="checkbox" required> I have read the <a href="#">terms and conditions</a>
          </div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="flashes">
            {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
          <button class="btn" type="submit">Sign up</button>
        </form>
      </fieldset>
    </div>
  
  </div>
  <script src="/static/js/loginScript.js"></script>
</body>
</html>
